# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
.tox/

# Environments
.env
.venv
Pipfile.lock
env/
venv/

# PyCharm
.idea/

# graphs
svgd_plots/

# docs
#docs/build/