[packages]
flax = "*"
jax = "*"
optax = "*"
matplotlib = "*"
blackjax = "*"
numpy = "*"
tqdm = "*"
typing = "*"
scikit-learn = "*"
tensorflow = "*"
pytest = "*"
pandas = "*"
myst-parser = "*"

[dev-packages]
sphinx = "*"
myst-parser = "*"

[requires]
python_version = "3.10"
